<% progress = learnt_words.count %>

<div class="progress">
  <div class="progress-bar"
    style="width: <%= progress / size_of_words.to_f * 100 %>%">
  </div>
</div>

<%= progress %>/<%= size_of_words %>
<%= current_word.text %>
<div id="def" class="flashcard-def">
  <%= current_word.definitions.correct.first.text %>
</div>

<%= form_for :flashcard, url: flashcards_path, method: :patch,
  remote: true do |f| %>
  <%= f.submit t(".prev"), class: "btn" %>
  <%= hidden_field_tag :learn, "prev" %>
  <%= hidden_field_tag :learnt_words, learnt_words %>
  <%= hidden_field_tag :not_learnt_words, not_learnt_words %>
  <%= hidden_field_tag :size_of_words, size_of_words %>
<% end %>

<%= button_tag t(".show_def"), class: "btn", id: "show" %>

<%= form_for :flashcard, url: flashcards_path, method: :patch,
  remote: true do |f| %>
  <%= f.submit t(".next"), class: "btn" %>
  <%= hidden_field_tag :learn, "next" %>
  <%= hidden_field_tag :learnt_words, learnt_words %>
  <%= hidden_field_tag :not_learnt_words, not_learnt_words %>
  <%= hidden_field_tag :size_of_words, size_of_words %>
<% end %>

<div><%= msg %></div>
