<% provide :title, title %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <%= render "shared/user_assets", user: @user %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= title %></div>

      <div class="panel-body">
        <% if @topics.any? %>
          <ul class="lessons no-padding no-margin">
            <%= render topics %>
          </ul>

          <%= will_paginate topics %>
        <% else %>
          <h3 class="center"><%= t ".no_topic" %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
