<% provide :title, title %>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <%= render "shared/user_assets", user: user %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= t ".my_lessons" %></div>

      <div class="panel-body">
        <% if lessons.any? %>
          <ul class="lessons no-padding no-margin">
            <%= render partial: "lessons/lesson", collection: lessons,
              locals: {topic_manageable: {}, user: user} %>
          </ul>
          <%= will_paginate lessons %>
        <% else %>
          <h3 class="center"><%= t ".no_lessons" %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
