<h2><%= t ".forgot_password?" %></h2>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <%= form_for resource, as: resource_name, url: password_path(resource_name),
      html: {method: :post} do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= link_to t("devise.shared.links.didnt_receive_confirm?"),
          new_user_confirmation_path %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "form-control" %>
      </div><br>

      <div class="actions">
        <%= f.submit t(".send_me"), class: "btn btn-primary" %>
        <%= link_to t("devise.shared.links.log_in"),
          new_session_path(resource_name), class: "btn btn-default" %>
        <%= link_to t("devise.shared.links.sign_up"),
          new_user_registration_path, class: "btn btn-default" %><br />
      </div>
    <% end %>
  </div>
</div>
