<% provide :title, t(".title", title: @lesson.name) %>
<h1><%= t ".title", title: @lesson.name %></h1>
<%= "(#{pluralize @lesson.lesson_words.count, t(".term_text")})" %><br>
<strong><%= "#{t(".creator")}: #{@lesson.topic.creator.name}" %></strong>

<div class="manage_options">
  <%= link_to t(".edit"), edit_lesson_path(@lesson.id) %> |
  <%= link_to t(".delete"), @lesson, method: :delete, data: {confirm:
    t(".confirm")} %>
</div>

<div class="learning_options">
  <%= link_to t(".flash_card"), new_flashcards_path(@lesson.id) %> |
  <%= link_to t(".write"), new_writes_path(@lesson.id) %>
</div>

<%= form_for @lesson do |l| %>
  <table class="table">
    <thead>
    <tr>
      <th><%= t ".word" %></th>
      <th><%= t ".def" %></th>
    </tr>
    </thead>
    <tbody class="fields">
      <%= l.fields_for :lesson_words do |lw| %>
        <%= render "lesson_word", f: lw, view_only: true %>
      <% end %>
    </tbody>
  </table>
<% end %>
