<% provide :title, title %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <%= render "shared/user_assets", user: @user %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= title %></div>

      <div class="panel-body">
        <% if @bookmarked_lessons.any? %>
          <ul class="lessons no-padding no-margin">
            <%= render partial: "bookmarked_lessons/lesson",
              collection: @bookmarked_lessons, locals: {topic_manageable: {}} %>
          </ul>

          <%= will_paginate @bookmarked_lessons %>
        <% else %>
          <h3 class="center"><%= t ".no_bookmarked_lessons" %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
