<% provide :title, title %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= title %></div>

      <div class="panel-body">
        <ul class="lessons no-padding no-margin">
          <%= link_to lessons_user_path(@user), class: "no-text-decor" do %>
            <li class="well well-sm lessons-index-item hover-bottom">
              <%= t("users.show_lessons.my_lessons") %></li>
          <% end %>

          <%= link_to bookmarked_lessons_user_path(@user),
            class: "no-text-decor" do %>
            <li class="well well-sm lessons-index-item hover-bottom">
              <%= t("users.show_lessons.my_bookmarked_lessons") %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= t "users.show_lessons.my_lessons" %></div>

      <div class="panel-body">
        <% if @bookmarked_lessons.any? %>
          <ul class="lessons no-padding no-margin">
            <%= render partial: "bookmarked_lessons/lesson",
            collection: @bookmarked_lessons %></ul>

          <%= will_paginate @bookmarked_lessons %>
        <% else %>
          <h3 class="center"><%= t ".no_bookmarked_lessons" %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
